<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SwagLabs Test Suite" verbose="1" >
    <test name="Login Tests" >
        <classes>
            <class name="login.LoginTest" /> </classes>
    </test>
    <test name="Product Tests" >
        <classes>
            <class name="sort.SortPageTest" /> </classes>
    </test>
</suite>